<%= form_with(model: poetry_anthology_book, local: true) do |form| %>
  <% if poetry_anthology_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poetry_anthology_book.errors.count, "error") %> prohibited this poetry_anthology_book from being saved:</h2>

      <ul>
        <% poetry_anthology_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field mb-3">
    <%= form.label :date_finished %>
    <%= form.date_select :date_finished %>
  </div>

  <div class="field mb-3">
    <%= form.label :pages %>
    <%= form.number_field :pages %>
  </div>

  <div class="field mb-3">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field mb-3">
    <%= form.label :illustrator %>
    <%= form.text_field :illustrator %>
  </div>

  <div class="field mb-3">
    <%= form.label :favorite_poem %>
    <%= form.text_area :favorite_poem %>
  </div>

  <div class="field mb-3">
    <%= form.label :least_favorite_poem %>
    <%= form.text_area :least_favorite_poem %>
  </div>

  <div class="field mb-3">
    <%= form.label :rating %>
    <br>
    <%= form.radio_button :rating, "Yuck" %>Yuck <br>
    <%= form.radio_button :rating, "Meh" %>Meh <br>
    <%= form.radio_button :rating, "Good" %>Good <br>
    <%= form.radio_button :rating, "Awesome" %>Awesome <br>
  </div>

  <div class="field mb-3">
    <%= form.label :rationale %>
    <%= form.text_area :rationale %>
  </div>

  <div class="field mb-3">
    <%= form.label :literal_language %>
    <%= form.text_area :literal_language %>
  </div>

  <div class="field mb-3">
    <%= form.label :nonliteral_language %>
    <%= form.text_area :nonliteral_language %>
  </div>

  <div class="field mb-3">
    <%= form.label :stanza %>
    <%= form.text_area :stanza %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
