<%= form_with(model: poetry_anthology_book, local: true) do |form| %>
  <% if poetry_anthology_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poetry_anthology_book.errors.count, "error") %> prohibited this poetry_anthology_book from being saved:</h2>

      <ul>
        <% poetry_anthology_book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col-md">
      <label class="form-label">Book Title</label>
      <div class="field mb-3">
        <%= form.text_field :title, class:'form-control' %>
      </div>
    </div>

    <div class="col-md">
      <label class="form-label">Date Finished</label>
      <div class="field mb-3">
        <%= form.date_field :date_finished, class:'form-control' %>
      </div>
    </div>
</div>

<div class="row">
     <div class="col-md">
        <label class="form-label">Number of Pages</label>
        <div class="field mb-3">
          <%= form.number_field :pages, class:'form-control' %>
        </div>
      </div>

      <div class="col-md">
        <label class="form-label">Author</label>
        <div class="fieldmb-3">
          <%= form.text_field :author, class:'form-control' %>
        </div>
      </div>
</div>

<div class="row">
     <div class="col-md">
        <label class="form-label">Illustrator</label>
        <div class="field mb-3">
          <%= form.text_field :illustrator, class:'form-control', placeholder:"(If no illustrator, put 'none')" %>
        </div>
      </div>

      <div class="col-md">
        <label class="form-label">Favorite Poem</label>
        <div class="fieldmb-3">
          <%= form.text_area :favorite_poem, class:'form-control', placeholder:"My favorite poem in this anthology was ____ because..." %>
        </div>
      </div>
</div>

<div class="row">
  <div class="col-md">
    <label class="form-label">Not So Favorite Poem</label>
    <div class="field mb-3">
      <%= form.text_area :least_favorite_poem, class:'form-control', placeholder:"My not so favorite poem in this anthology was ____ because..." %>
    </div>
  </div>

  <div class="col-md">
    <fieldset class="row mb-3">
      <label class="form-label">Your Rating</label>
      <div class="input-group">
        <div class="col-sm-2 text-center">
          <div class="form-check">
            <%= form.radio_button :rating, "Yuck" %> &#128541;<br> Yuck
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="form-check">
            <%= form.radio_button :rating, "Meh" %> &#128528;<br> Meh
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="form-check text-center">
            <%= form.radio_button :rating, "Good" %> &#128578;<br> Good
          </div>
        </div>

        <div class="col-sm-2 text-center">
          <div class="form-check">
            <%= form.radio_button :rating, "Awesome" %> &#128516;<br> Awesome
          </div>
        </div>

      </div>
    </fieldset>
  </div>

</div>

<div class="row">
  <div class="col-md">
    <label class="form-label">Rating Rationale</label>
    <div class="field mb-3">
      <%= form.text_area :rationale, class:'form-control', placeholder:'I gave it a ___ rating because...' %>
    </div>
  </div>

  <div class="col-md">
    <label class="form-label">An Example of Literal Language from a Poem</label>
    <div class="field mb-3">
      <%= form.text_area :literal_language, class:'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <label class="form-label">An Example of Non-Literal Language from a Poem</label>
    <div class="field mb-3">
      <%= form.text_area :nonliteral_language, class:'form-control' %>
    </div>
  </div>

  <div class="col-md">
    <label class="form-label">An Example of a Stanza from a Poem</label>
    <div class="field mb-3">
      <%= form.text_area :stanza, class:'form-control' %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-success" %>
  </div>
  <br>
<% end %>
