<div class="container">
    <h1 class="text-center">About the 40 Book Challenge</h1>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Overview
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
            <li>Set a goal to read 40 books by the date set by your teacher.</li>
                <ul>
                    <li>TRY YOUR BEST!</li>
                    <li>It’s okay if you don’t make it to 40. We will celebrate at 20, 30, & 40!</li>
                </ul>
            <li>Try something new!  See the genre requirements for the different genres you’ll need to read for this challenge. You can read the genres in any order.
            </li>
            <li>Pick books at your independent reading level.  (“Just Right” or “Good Fit” books)</li>
            <li>Everybody reads here!  Everybody is a reader!</li>
            <li>What you read is your choice ….. whatever you want …. you pick!</li>
            <li>You may listen to audio versions of a book and follow along in the printed book for up to 10 books.</li>
            <li>Picture books may count for certain genres, must have teacher approval.</li>
            <li>You may count books you read in class, books from home, books from the public library, books from our classroom library, books from our school media center.</li>
            <li>Fiction books over 250 pages can be counted as 2 books.</li>
            <li>Nonfiction books over 100 pages may be counted as 2 books.</li>
            <li>You may not count books that you’ve read in the past.</li>
            <li>You may “abandon” a book that is not holding your interest, but it will not count toward your total.</li>
            <li>You may listen to audio versions of a book and follow along in the printed book for up to 10 books.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Genre Requirements
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Genre</th>
                <th scope="col"># of Books</th>
                <th scope="col">Genre</th>
                <th scope="col"># of Books</th>
            </tr>

            <tr>
                <td>Fiction: Traditional Literature</td>
                <td>5</td>
                <td>Fiction: Award Winners</td>
                <td>2</td>
            </tr>

            <tr>
                <td>Fiction: Realistic Fiction</td>
                <td>5</td>
                <td>Poetry Anthologies</td>
                <td>2</td>
            </tr>

            <tr>
                <td>Fiction:  Historical Fiction</td>
                <td>3</td>
                <td>Nonfiction:  Biography/Autobiography</td>
                <td>3</td>
            </tr>

            <tr>
                <td>Fiction: Fantasy</td>
                <td>3</td>
                <td>Nonfiction: Informational</td>
                <td>3</td>
            </tr>

            <tr>
                <td>Fiction: Science Fiction</td>
                <td>2</td>
                <td>Fiction or Nonfiction: Chapter Books of Your Choice</td>
                <td>10</td>
            </tr>

            <tr>
                <td>Fiction: Mystery</td>
                <td>2</td>
            </tr>
        </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Q & A
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul>
        <li>What books should I read?
            <ul>
                <li>You may choose any books that have at least 100 pages in any of the genres on the required genre list.</li>
                <li>“Just Right” or “Good Fit” books</li>
            </ul>
        </li>
        <li>What if I don’t know where to start?
            <ul>
                <li>If you don’t know where to start, your teacher will be happy to offer suggestions based on what you like…..Teachers love to chat about books!</li>
                <li>Your teacher will start doing weekly book previews, where he/she will share recommendations for some of his/her favorite books.</li>
                <li>A classmate might share a book that he/she is reading that he/she enjoyed.</li>
                <li>Eventually, your classmates will share book reviews about the books they’re reading to give you ideas.</li>
            </ul>
        </li>
        <li>How will you know that I am reading?
            <ul>
                <li>You are required to complete a reading response entry in your reading notebook at least once per week.
                </li>
                <li>This is due on check-in dates your teacher will set, but you can complete it before those days if you like.</li>
                <li>You will create book reviews for the books you’re reading</li>
            </ul>
        </li>
        <li>What happens when I reach my goal?
            <ul>
                <li>You will love reading so much by then that you will just keep on going!</li>
                <li>You’ll be a lifelong reader!</li>
                <li>You’ll be so proud of yourself for all your hard work!</li>
                <li>Your teacher will be very proud of you for all your hard work!</li>
            </ul>
        </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        I PICK
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <h5 class="text-center">Good Fit Books</h5>
        <p><span class="pick-ltrs">I</span> choose a book.</p>
        <p><span class="pick-ltrs">P</span>urpose? Why do I want to read it?</p>
        <p><span class="pick-ltrs">I</span>nterest - Does it interest me?</p>
        <p><span class="pick-ltrs">C</span>omprehend - Do I understand it?</p>
        <p><span class="pick-ltrs">K</span>now - I know most of the words</p>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        The 5 "Finger Tips" of Choosing a Book to Read
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ol>
            <li>Open your book to any page.</li>
            <li>Read the words on that page.</li>
            <li>Count then number of words you do not know on that page.</li>
            <li>Now use the "finger tips" to help you decide if this is a good book for you to read by yourself.</li>
        </ol>
  
        <p><%= image_tag 'finger1.png', class:'img-fluid fingers' %>  One word = OK</p>
        
        <p><%= image_tag 'finger2.png', class:'img-fluid fingers' %>  Two words = Still a good choice</p>
        <p><%= image_tag 'finger3.png', class:'img-fluid fingers' %>  Three words = You may need help reading this</p>
        <p><%= image_tag 'finger4.png', class:'img-fluid fingers' %>  Four words = Tough to read</p>
        <p><%= image_tag 'finger5.png', class:'img-fluid fingers' %>  Five words = Try a different book</p>
      </div>
    </div>
  </div>       
</div>       
    
</div>