<h1>Books</h1>

<div class="container">

    <div class="d-flex justify-content-center">
        <%= link_to "Traditional Literature", traditional_literature_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Realistic Fiction", realistic_fiction_books_path, class:"btn btn-primary  mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Historical Fiction", historical_fiction_books_path, class:"btn btn-primary  mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Fantasy", fantasy_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Science Fiction", science_fiction_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Mystery", mystery_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Award Winners", award_winner_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Poetry Anthologies", poetry_anthology_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Biographies", biography_books_path, class:"btn btn-primary mb-2" %>
    </div>

    <div class="d-flex justify-content-center">
        <%= link_to "Nonfiction Informational", informational_books_path, class:"btn btn-primary mb-2" %>
    </div>

</div>