<h1>Books</h1>

<div class="container">

    <ul class="list-group list-group-flush text-center genre-list">
        <li class="list-group-item"><%= link_to "Traditional Literature", traditional_literature_books_path %> <span class="badge bg-dark"> <%= @tlcount %></span></li>
        <li class="list-group-item"><%= link_to "Realistic Fiction", realistic_fiction_books_path %> <span class="badge bg-dark"><%= @rfcount %></span></li>
        <li class="list-group-item"><%= link_to "Historical Fiction", historical_fiction_books_path %> <span class="badge bg-dark"><%= @hfcount %></span></li>
        <li class="list-group-item"><%= link_to "Fantasy", fantasy_books_path %> <span class="badge bg-dark"><%= @fcount %><span></li>
        <li class="list-group-item"><%= link_to "Science Fiction", science_fiction_books_path %> <span class="badge bg-dark"><%= @sfcount %></li>
        <li class="list-group-item"><%= link_to "Mystery", mystery_books_path %> <span class="badge bg-dark"><%= @mcount %></span></li>
        <li class="list-group-item"><%= link_to "Award Winners", award_winner_books_path %> <span class="badge bg-dark"><%= @awcount %></span></li>
        <li class="list-group-item"><%= link_to "Poetry Anthologies", poetry_anthology_books_path %> <span class="badge bg-dark"><% @pacount %></span></li>
        <li class="list-group-item"><%= link_to "Biographies", biography_books_path %> <span class="badge bg-dark"><%= @bcount %></span></li>
        <li class="list-group-item"><%= link_to "Nonfiction Informational", informational_books_path %> <span class="badge bg-dark"><%= @icount %></span></li>
    </ul>

</div>