<div class="container book-review">
  <h1 class="text-center">Book Review</h1>
  <p>
    <strong>Title:</strong>
    <%= @realistic_fiction_book.title %>
  </p>

  <p>
    <strong>Date finished:</strong>
    <%= @realistic_fiction_book.date_finished %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= @realistic_fiction_book.pages %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @realistic_fiction_book.author %>
  </p>

  <p>
    <strong>Genre explanation:</strong>
    <%= @realistic_fiction_book.genre_explanation %>
  </p>

  <p>
    <strong>Main characters:</strong>
    <%= @realistic_fiction_book.main_characters %>
  </p>

  <p>
    <strong>Setting:</strong>
    <%= @realistic_fiction_book.setting %>
  </p>

  <p>
    <strong>Problem:</strong>
    <%= @realistic_fiction_book.problem %>
  </p>

  <p>
    <strong>Solution:</strong>
    <%= @realistic_fiction_book.solution %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= @realistic_fiction_book.rating %>
  </p>

  <p>
    <strong>Rationale:</strong>
    <%= @realistic_fiction_book.rationale %>
  </p>

  <p>
    <strong>Illustrator:</strong>
    <%= @realistic_fiction_book.illustrator %>
  </p>

  <%= link_to 'Back', realistic_fiction_books_path, class:'btn btn-secondary' %>
  <%= link_to 'Edit', edit_realistic_fiction_book_path(@realistic_fiction_book), class:'btn btn-warning' %>
  <%= link_to 'Destroy', @realistic_fiction_book, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %> 
  
</div>
